<!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>  
    <script src="chat.js"></script>
  </head>
  <body>
    <textarea id="message"></textarea>
    <button id="submit">Send</button>

    <div id="message-box">
    </div>
  </body>
</html>